<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style=" margin: 0 auto">
    <div style=" height: 48px; background-color: #eeeeee"  ></div>
    <h1>详细信息</h1>
    <table border="1">
        <tr>
            <th>主机名</th>
            <th>IP</th>
            <th>主人</th>
        </tr>
        <tr>
            <td>{{ detail_dict.name }}</td>
            <td>{{ detail_dict.ip }}</td>
            <td>{{ detail_dict.master }}</td>
        </tr>
    </table>
<script src="/static/js/jquery-1.12.4.min.js"></script>
</body>
</html>